h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 0;
    padding-top: 3px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-family: "Stick No Bills", sans-serif;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 5;
  }